*   {
    margin: 0;
    padding: 0;
}

body    {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/******** Header Starts ********/
.header  {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 172.5px;
    padding-right: 172.5px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-left    {
    font-size: 24px;
    font-weight: bold;
    color: #F9F8FA;
}

.header-right > *   {
    display: flex;
    list-style: none;
    color: #E5E7EB;
    gap: 30px;
    font-size: 18px;
    font-weight: lighter;
}
/* Header Ends */

/******** Middle Starts ********/
.middle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding-left: 172.5px;
    padding-right: 172.5px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-left, .hero-right {
    flex: 1;
}

.hero-text  {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-right: 60px;
    padding-bottom: 3px;
}

.hero-description   {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up > button   {
    color: #F9FAF8;
    background: #3882F6;
    font-size: 18px;
    padding: 6px 30px;
    margin: 13px 0;
    border-radius: 10px;
    overflow: hidden;
    border: 0;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-right > img {
    max-width: 800px;
    max-height: 250px;
}

.information    {
    display: flex;
    flex-direction: column;
    padding-left: 172.5px;
    padding-right: 172.5px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.information-top    {
    align-self: center;
    justify-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 50px;
}

.information-bottom > * {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    gap: 50px;
}

.image-desc {
    text-align: center;
}

.ammenities > img   {
    border: 5px solid #3882F6;
    border-radius: 10px;
    overflow: hidden;
    height: 175px;
    width:  175px;
}

.quote  {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
}

.content    {
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    justify-content: space-around;
    padding: 100px 335px 0px 355px;
}

.writer {
    align-self: flex-end;
    color: #1F2937;
    font-size: 18px;
    font-weight: bolder;
    padding: 0px 355px 100px 0px;
}

.cta    {
    display: flex;
    margin-left: 172.5px;
    margin-right: 172.5px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.cta-left   {
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
}

.cta > *    {
    flex: 1;
    color: #F9FAF8;
    background: #3882F6;
    padding: 50px 100px;
}

.cta-title  {
    font-size: 24px;
    font-weight: bold;
}

.cta-description    {
    font-size: 18px;
    font-weight: lighter;
    color: #F9F8FA;
}

.cta-right  {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.cta-right > button  {
    color: #F9FAF8;
    background: #3882F6;
    font-size: 18px;
    padding: 6px 30px;
    border-radius: 7px;
    overflow: hidden;
    border: 2px solid white;
}

/* Middle Ends */

/******** Footer Starts ********/
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
}

.footer > .text    {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 60px 100px;
}
/* Footer Ends */